@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Most used values */
:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
    
    --nice-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

/* General customization */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {list-style-type: none;}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}
p {margin: 10px 0;}

img {width: 100%;}

/* Navbar */
#navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}
#navbar .logo {font-size: 32px;}
#navbar .flex {justify-content: space-between;}
#navbar a {
    margin: 0 5px;
    color: #fff;
    padding: 10px;
    border-bottom: 2px transparent solid;
    transition: border-bottom .2s ease-in;
}
#navbar a:hover {
    border-bottom: 2px #fff solid;
}


/* Showcase section */
#showcase {
    background-color: var(--primary-color);
    height: 400px;
    color: #fff;
    position: relative;
    z-index: 1;
}
.showcase-text {z-index: 1;}
.showcase-text h2 {
    font-size: 40px;
    margin-bottom: 10px;
}
.showcase-text p {
    margin: 20px 0;
}

#showcase .grid {
    grid-template-columns: 55% 45%;
    gap: 50px;
    position: relative;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}

.showcase-form .form-control {
    margin: 30px 0;
}
  
.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}

/* SVG Wave customization */
.wave {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotateX(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: 105%;
    height: 150px;
}

.wave .shape-fill {
    fill: #FFFFFF;
}


/* Stats section */
#stats {
    padding: 80px 0;
    text-align: center;
}

#stats .stats-heading {
    max-width: 500px;
    margin: 0 auto;
}

#stats > .container > .grid {
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem 0;
}

#stats > .container > .grid > div > h3 {
    font-size: 35px;
}
#stats > .container > .grid > div > p {
    font-size: 20px;
    font-weight: bold;
    color: var(--secondary-color)
}

#stats .cli {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#stats .cli *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* Cloud section */
#cloud .grid {
    grid-template-columns: 4fr 3fr;
}


/* Supported languages */
#langs .flex {flex-wrap: wrap;}

#langs h2 {margin-bottom: 20px;}

#langs .container .card h4 {
    margin-bottom: 10px;
    font-size: 1.3rem;
}


/* Footer */
.footer .grid {
    grid-template-columns: repeat(3, 1fr);
}

.footer .social a {
    margin: 0 10px
}






/* Tablets and under */
@media (max-width: 768px) {
    .grid,
    #showcase .grid,
    #stats > .container > .grid,
    #cloud .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #showcase {
        height: auto
    }
    .showcase-text {
        text-align: center;
        margin-top: 40px;
    }
    .showcase-form {
        justify-self: center;
    }

    #stats {margin-top: 50px;}

    #stats .cli *:first-child {
        grid-column: 1;
        grid-row: 1;
    }
}

/* Mobile */
@media (max-width: 500px) {
    #navbar {
        height: 110px;
    }
    #navbar > .flex {
        flex-direction: column;
    }
    #navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}
